@model SimpleRegistration.Presentation.Registration.RegistrationResponseViewModel

<div class="alert-info">
    <h3>@Model.ResultMessage</h3>

    @foreach (string error in Model.Errors)
    {
        <span>@error</span><br />

    }
</div>